<h1>新增許願卡</h1>

<form action="/wish_card_list" method="post">
  <input type="hidden" name="authenticity_token">

  <input type="text" name="w[title]">
  <textarea name="w[description]"></textarea>

  <button>送出</button>
</form>
