<h1>結帳</h1>

<%= form_with(url: pay_order_path(id: @order.serial),
              method: "post",
              data: {
                controller: "paypal-dropin",
                token: @token
              }) do |f| %>
<% end %>
